.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 400px;
		margin: auto;
  padding: 25px;

  background-color: rgb(189, 187, 187);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  max-width: 400px;

  padding: 10px;

  background-color: #fff;
}

.avatar {
  max-width: 70px;

  border-radius: 50%;
}

.stats {
  display: inline-flex;
  justify-content: center;
	gap: 10px;

	background-color: rgb(240, 236, 236);
}

.stats li {
  display: flex;
  flex-direction: column;
	align-items: center;
}


.quantity {
	font-weight: bold;
}