.transaction__history {
  table-layout: fixed;

  width: 400px;
  margin: auto;
  padding: 15px;
  border: solid 1px rgb(211, 221, 221);

  border-collapse: collapse;
}

tr {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  background-color: lightskyblue;
}

th,
td {
  padding: 10px;
  border: 1px solid grey;
}
